{
	"optionGroup": {
		"groupPropertyList": {
			"autoSort": "Y",
			"groupName": "Organization"
		},
		"optionSetList": {
			"optionSet": [
				{
					"key": 5,
					"setPropertyList": {
						"autoSort": "N",
						"setName": "Class"
					},
					"itemList": {
						"item": [
							{
								"code": "UNCLASSIFIED",
								"text": "Unclassified"
							}, {
								"code": "1",
								"text": "Class I"
							}, {
								"code": "2",
								"text": "Class II"
							}, {
								"code": "3",
								"text": "Class III"
							}
						]
					}
				}, {
					"key": 6,
					"setPropertyList": {
						"autoSort": "N",
						"setName": "Classification Panel"
					},
					"itemList": {
						"item": [
							{
								"code": "BC",
								"text": "PANEL NOT DETERMINED"
							}, {
								"code": "AN",
								"text": "ANESTHESIOLOGY"
							}, {
								"code": "CV",
								"text": "CARDIOVASCULAR"
							}, {
								"code": "CH",
								"text": "CLINICAL CHEMISTRY"
							}, {
								"code": "TX",
								"text": "CLINICAL TOXICOLOGY"
							}, {
								"code": "DE",
								"text": "DENTAL"
							}, {
								"code": "EN",
								"text": "EAR, NOSE, AND THROAT"
							}, {
								"code": "GU",
								"text": "GASTROENTEROLOGY-UROLOGY"
							}, {
								"code": "SU",
								"text": "GENERAL AND PLASTIC SURGERY"
							}, {
								"code": "HO",
								"text": "GENERAL HOSPITAL"
							}, {
								"code": "HE",
								"text": "HEMATOLOGY"
							}, {
								"code": "IM",
								"text": "IMMUNOLOGY"
							}, {
								"code": "MI",
								"text": "MICROBIOLOGY"
							}, {
								"code": "NE",
								"text": "NEUROLOGY"
							}, {
								"code": "OB",
								"text": "OBSTETRICS AND GYNECOLOGY"
							}, {
								"code": "OP",
								"text": "OPHTHALMOLOGY"
							}, {
								"code": "OR",
								"text": "ORTHOPEDIC"
							}, {
								"code": "PA",
								"text": "PATHOLOGY"
							}, {
								"code": "PM",
								"text": "PHYSICAL MEDICINE"
							}, {
								"code": "RH",
								"text": "RAD HEALTH, NON-MEDICAL"
							}, {
								"code": "RA",
								"text": "RADIOLOGY"
							}
						]
					}
				}, {
					"key": 3,
					"setPropertyList": {
						"autoSort": "N",
						"setName": "Yes/No"
					},
					"itemList": {
						"item": [
							{
								"code": "Y",
								"text": "Yes"
							}, {
								"code": "N",
								"text": "No"
							}
						]
					}
				}, {
					"key": 4,
					"setPropertyList": {
						"autoSort": "N",
						"setName": "Yes/No/Not Applicable"
					},
					"itemList": {
						"item": [
							{
								"code": "Y",
								"text": "Yes"
							}, {
								"code": "N",
								"text": "No"
							}, {
								"code": "X",
								"text": "Not Applicable"
							}
						]
					}
				}
			]
		}
	}
}